/* Invoice Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
:root {
  --black: #000;
  --bold-font: 700;
  --highLightColor: #f5f5f5;
  --borderColor: #ddd;
  --table-head-bg: #efefef;
}
* {
  outline: none;
}
h1,
h2 {
  margin: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif !important;
}
.generate-invoice .container {
  background-color: #fff;
  padding: 0;
}
.invoice-page h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  border-top: var(--borderColor) 2px solid;
  padding: 5px 0;
  font-weight: var(--bold-font);
  border-bottom: var(--borderColor) 2px solid;
}
.focus-editor {
  padding: 5px;
}
.focus-editor:focus {
  background-color: var(--highLightColor);
}
.company-profile,
.address-information {
  margin-bottom: 20px;
}
.invoice-details {
  display: grid;
  min-width: 250px;
  grid-template-columns: auto auto;
}
.invoice-details div {
  border: var(--borderColor) 1px solid;
}
.generate-invoice input {
  border: 0;
}
.remove {
  background: url(/images/remove-icon.svg) no-repeat;
  height: 30px;
  width: 40px;
  float: right;
  display: grid;
  align-self: middle;
}
.invoice-border-th {
  background-color: var(--table-head-bg);
}
.table > :not(:first-child) {
  border-top: 2px;
}
.desc-txt {
  width: 100%;
}
.tax-grid-container {
 list-style-type: none;
 margin: 0;
 padding: 5px 0 0 0;
}
.tax-grid-container li {
  display: inline-block;
  padding-right: 10px;
}
.percentage-c {
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
.tax {
  min-width: 20px;
  max-width: 50px;
}
@media (min-width: 1025px) {
  .generate-invoice .container {
    padding: 15px;
  }
}
